/* atributos somente do Index */

.cover-container figure img  {
    width: 90%;
}

main h3.title {
    font-size: 1.2em;

}



@media screen and (min-width: 992px) {
    .cover-container {
        width: 40%;
    }

    .cover-container,
    .section-video {
        display: inline-block;
    }
}